header{
    height: 80px;
}

nav{
    margin: 0em 10px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#contenedorDisco{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.caja{
    height: 300px;
    border: 1px solid black;
}

.caja img{
    height: 80%;
}

.detalle{
    margin: 0em 10%;
    display: flex;
    justify-content: space-between;
}

.carrito{
    /* border: 1px solid black; */
    font-size: 20px;
    position: relative;
    z-index: 0;
}

#numeroDiscos{
    z-index: 1;
    font-size: 10px;
    position: absolute;
    top: -10;
    right: 0;
    padding: 0.25em;
    border-radius: 1em ;
    background-color: blue;
    color: white;
}

.fa-shopping-basket{
    cursor: pointer;
}

.cajamodal{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    height: 70%;
    width: 70%;
    background-color: white;
    border-radius: 2em;
    
}